/*
    Copyright (C) 2019  Raging Goblin
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

/*
 * Thanks to the following for their inspiration:
 * https://github.com/BDeliers/thunderbird-monterail
 * https://github.com/KDE/breeze-icons
*/

/* Keep selection backrground color in tree views when losing focus */
treechildren::-moz-tree-row(selected) { background-color: -moz-Dialog !important; }
treechildren::-moz-tree-row(selected, focus) { background-color: Highlight !important; }
treechildren::-moz-tree-row(selected) {
    -moz-appearance: none !important;
    background-image: none !important;
    background-color: Highlight !important;
}
treechildren::-moz-tree-row(selected, focus) {
    -moz-appearance: none !important;
    background-image: none !important;
    background-color: Highlight !important;
}

treechildren::-moz-tree-image(folderNameCol) { list-style-image: url("icons/folder-white.svg") !important; }
treechildren::-moz-tree-image(folderNameCol, selected) { list-style-image: url("icons/folder.svg") !important; }

treechildren::-moz-tree-image(folderNameCol, specialFolder-Junk) { list-style-image: url("icons/junk-white.svg") !important; }
treechildren::-moz-tree-image(folderNameCol, specialFolder-Junk, selected) { list-style-image: url("icons/junk.svg") !important; }

treechildren::-moz-tree-image(folderNameCol, specialFolder-Trash) { list-style-image: url("icons/trash-white.svg") !important; }
treechildren::-moz-tree-image(folderNameCol, specialFolder-Trash, selected) { list-style-image: url("icons/trash.svg") !important; }

treechildren::-moz-tree-image(folderNameCol, specialFolder-Sent) { list-style-image: url("icons/sent-white.svg") !important; }
treechildren::-moz-tree-image(folderNameCol, specialFolder-Sent, selected) { list-style-image: url("icons/sent.svg") !important; }

treechildren::-moz-tree-image(folderNameCol, specialFolder-Virtual) { list-style-image: url("icons/mail-white.svg") !important; }
treechildren::-moz-tree-image(folderNameCol, specialFolder-Virtual, selected) { list-style-image: url("icons/mail.svg") !important; }

treechildren::-moz-tree-image(folderNameCol, specialFolder-Archive) { list-style-image: url("icons/archive-white.svg") !important; }
treechildren::-moz-tree-image(folderNameCol, specialFolder-Archive, selected) { list-style-image: url("icons/archive.svg") !important; }

treechildren::-moz-tree-image(folderNameCol, specialFolder-Inbox) { list-style-image: url("icons/inbox-white.svg") !important; }
treechildren::-moz-tree-image(folderNameCol, specialFolder-Inbox, selected) { list-style-image: url("icons/inbox.svg") !important; }

treechildren::-moz-tree-image(folderNameCol, specialFolder-Templates) { list-style-image: url("icons/templates-white.svg") !important; }
treechildren::-moz-tree-image(folderNameCol, specialFolder-Templates, selected) { list-style-image: url("icons/templates.svg") !important; }

treechildren::-moz-tree-image(folderNameCol, specialFolder-Drafts) { list-style-image: url("icons/drafts-white.svg") !important; }
treechildren::-moz-tree-image(folderNameCol, specialFolder-Drafts, selected) { list-style-image: url("icons/drafts.svg") !important; }

treechildren::-moz-tree-image(folderNameCol, specialFolder-Outbox) { list-style-image: url("icons/outbox-white.svg") !important; }
treechildren::-moz-tree-image(folderNameCol, specialFolder-Outbox, selected) { list-style-image: url("icons/outbox.svg") !important; }

/** IMAP/POP/movemail account nodes */
treechildren::-moz-tree-image(folderNameCol, isServer-true) { list-style-image: url("icons/mail-white.svg") !important; }
treechildren::-moz-tree-image(folderNameCol, isServer-true, selected) { list-style-image: url("icons/mail.svg") !important; }

/* Local folders account node */
treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-none) { list-style-image: url("icons/mail-white.svg") !important; }
treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-none, selected) { list-style-image: url("icons/mail.svg") !important; }


.tabmail-tabs > .tabmail-tab[type="folder"][SpecialFolder="Inbox"] {
    list-style-image: url("icons/inbox-white.svg") !important;
    -moz-image-region: rect(0px 16px 16px 0px) !important;
}

.tabmail-tabs > .tabmail-tab[type="folder"][SpecialFolder="Junk"] {
    list-style-image: url("icons/junk-white.svg") !important;
    -moz-image-region: rect(0px 16px 16px 0px) !important;
}

.tabmail-tabs > .tabmail-tab[type="folder"][SpecialFolder="Trash"] {
    list-style-image: url("icons/trash-white.svg") !important;
    -moz-image-region: rect(0px 16px 16px 0px) !important;
}

.tabmail-tabs > .tabmail-tab[type="folder"][SpecialFolder="Sent"] {
    list-style-image: url("icons/sent-white.svg") !important;
    -moz-image-region: rect(0px 16px 16px 0px) !important;
}

.tabmail-tabs > .tabmail-tab[type="folder"][SpecialFolder="Virtual"] {
    list-style-image: url("icons/mail-white.svg") !important;
    -moz-image-region: rect(0px 16px 16px 0px) !important;
}

.tabmail-tabs > .tabmail-tab[type="folder"][SpecialFolder="Archive"] {
    list-style-image: url("icons/archive-white.svg") !important;
    -moz-image-region: rect(0px 16px 16px 0px) !important;
}

.tabmail-tabs > .tabmail-tab[type="folder"][SpecialFolder="Templates"] {
    list-style-image: url("icons/templates-white.svg") !important;
    -moz-image-region: rect(0px 16px 16px 0px) !important;
}

.tabmail-tabs > .tabmail-tab[type="folder"][SpecialFolder="Drafts"] {
    list-style-image: url("icons/drafts-white.svg") !important;
    -moz-image-region: rect(0px 16px 16px 0px) !important;
}

.tabmail-tabs > .tabmail-tab[type="folder"][SpecialFolder="Outbox"] {
    list-style-image: url("icons/outbox-white.svg") !important;
    -moz-image-region: rect(0px 16px 16px 0px) !important;
}

.tabmail-tabs > .tabmail-tab[type="folder"][IsServer="true"] {
    list-style-image: url("icons/mail-white.svg") !important;
    -moz-image-region: rect(0px 16px 16px 0px) !important;
}

